{
  "logging": {
    "config": "config/logback.xml"
  },
  "server": {
    "port": 8080
  },
  "spring": {
    "datasource": {
      "url": "jdbc:postgresql://url.to.db:5432/db_name?user=XXXXXX&password=XXXXX"
    },
    "jpa": {
      "properties": {
        "hibernate": {
          "default_schema": "public"
        }
      }
    }
  }
}