{
  "logging": {
    "config": "config/logback.xml"
  },
  "server": {
    "port": 8080
  },
  "spring": {
    "datasource": {
      "url": "jdbc:postgresql://localhost:5432/chartgram?user=root&password=password"
    },
    "jpa": {
      "properties": {
        "hibernate": {
          "default_schema": "public"
        }
      }
    }
  }
}