{
  "test": true,
  "language": "english",
  "timezone": "Europe/Rome",
  "bot": {
    "enabled": false,
    "name": "ChartGram",
    "username": "ChartGramBot",
    "token": "XXXXXXXXXXXXXXXXXXXXXXXXXXXXX",
    "start_command": "/start",
    "help_command": "/help",
    "analytics_command": "/analytics",
    "charts_command": "/charts",
    "ignore_non_commands_messages": false,
    "developers_ids": [
      123456789
    ]
  },
  "webapp": {
    "base_url": "http://localhost"
  }
}