body {
	background-color: lightblue;
  }

.title {
	text-align: center;
	color: blue;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 80px;
}

.buttonSelect {
	background-color: blueviolet;
	font-family: Arial, Helvetica, sans-serif;
	color: aquamarine;
	text-align: center;
	width: 100px;
}

.subtitle {
	padding-bottom: 15px;
	color: blue;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
}

.select {
	padding-bottom: 15px;
	display: grid;
	grid-template-columns: 150px 150px 150px 150px;
}

.chartContainer {
	height: 370px; 
	max-width: 920px; 
	margin: 0 auto;
	padding-top: 15px;
	display: none;
}