<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <title>ChartGram</title>
</head>
<body>
<div id="chartContainer" style="height: 370px; max-width: 920px; margin: 0 auto;"></div>
<script>
    $.getJSON("http://localhost:8080/api/groups/-1001246028586/messages", (data) => {
        console.log("data:", data)

        const points = [
            {
                y: 100 * (data.filter(d => d.type === 1).length / data.length),
                label: 'Text'
            },
            {
                y: 100 * (data.filter(d => d.type !== 1).length / data.length),
                label: 'Other'
            }
        ];

        const chart = new CanvasJS.Chart("chartContainer", {
            animationEnabled: true,
            title: {
                text: "Group messages by type"
            },
            data: [{
                type: "pie",
                startAngle: 240,
                yValueFormatString: "##0.00'%'",
                indexLabel: "{label} {y}",
                dataPoints: points
            }]
        });
        chart.render();
    });
</script>
</body>
</html>